/* ------------
    reset
------------ */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body{
    background-color: lightgray;
}

header{
    background-color: white;
    padding: 10px 20px;
}
.header-title{
    display: inline-block;
    vertical-align: middle;
}

.logo{
    vertical-align: middle;
}

.container{
    margin: auto;
    margin-top: 40px;
    width: 800px;
}

.button-container{
    padding-top: 20px;
    padding-left: 50px;
    padding-bottom: 10px;
    background-color: white;
}

.button{
    padding: 7px 10px;
    border-radius: 8px;
    border: 1px solid;
    border-color: lightgray;
}

.blue-button{
    color: white;
    background-color: #46ADF1;
}

.white-button{
    color: lightgray;
    background-color: #ffffff;
}

section{
    background-color: white;
    margin-top: 3px;
    padding-left: 50px;
    padding-top: 5px;
}

div .lista{
    margin-top: 30px;

}

div .triangolo{
    display: inline-block;
}

div .row{
    padding-top: 16px ;
}

.triangolo{
     width: 0;
     height: 0;
     border-top: 8px solid black;
     border-right: 8px solid transparent;
     border-left: 8px solid transparent;
     
}

.circle{
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 100%;
    line-height: 20px;
    text-align: center;
    margin-right: 10px;
}

.circle-done{
    border: solid 1px green;
    color: green;
}

.circle-not-done{
    color: red;
    border: solid 1px red;

}

h2{
    font-weight: 500;
}

h4{
    font-weight: 400;
    display: inline-block;
}

.tag{
    margin-left: 3px;
    border-radius: 10px;
    font-size: 10px;
    padding: 5px 10px;
    color: white;
}

.tag-blu{
    background-color:  #46ADF1;
}

.tag-viola{
    background-color: #9B72E5;
}

.tag-verde{
    background-color:#64C0A9;
}

.tag-arancio{
    background-color:#F29E36 ;
}

.tag-magenta{
    background-color:#DC75AE ;
}

.tag-lime{
    background-color:#B1C92B ;
}

